/*Fuente ocupada en los textos*/
@font-face {
    font-family: fuenteXD;
    src: url("general/fuente.ttf") format("truetype");
}
/*Cuerpo*/
body{
	background-color: #d9c18f; /*Se pinto el body para no pintar el resto de contenedores del mismo color*/
	margin: none;
}
/*Empieza el titulo y el icono de la pagina*/
div#titulo{
	background-color: transparent;
	width: 100%; /*Ocupa el total del ancho de la pagina*/
	height: 100px;
	margin: 0px;
	display: flex;/*Nos permite colocar elementos como si fuera una tabla*/
}
/*Detallamos el tamaño del logo*/
img#logo{
	width: 150px;
	height: 150px;/*dimensiones cuadradas*/
	margin-right: 50px;
	margin-left: auto;
	margin-top: 0px;
}
/*Detallamos las caracteristicas del titulo que es una imagen*/
img#titulo{
	height: 100%;
	margin-right: 610px;
	margin-top: 40px;
}
/*Empieza la barra de navegacion*/
div#navegacion{
	background-color: transparent;
	width: 100%;
	height: 50px;
	margin-top: 90px;
	display: flex;
	justify-content: center;/*Con esto alineamos los elementos */
}
/*Definimos caracteristicas de los contendores de la los elementos de la barra de navegacion*/
div.nave{
	margin-left: 100px;
	margin-right: 100px;
}
/*Configuramos las caracteristicas de los enlaces en general*/
a:link, a:visited{
	font-family: fuenteXD, sans-serif;
	color: #610808;
	font-size: 20px;
	text-decoration: none; /*Limpiamos la apariencia del enlace*/
}
/*Le ponemos un efecto al pasar el cursor por encima*/
a:hover{
	font-size: 25px; 
}
/*Le damos un formato a las letras de la barra de navegacion*/
p.nav{
	font-family: fuenteXD, sans-serif;
}
/*Le damos una apariencia mas grande a la seccion donde nos encontramos*/
p#aqui{
	font-family: fuenteXD, sans-serif;
	color: #610808;
	font-size: 30px;
	margin-top: 5px;
}
/*Contenedor de la parte central de la pagina*/
div#contenedor{
	background-color: transparent;
	margin: 5px;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
}
/*Formato de las imagenes de paquetes y postres*/
img.com{
	width: 30%;
	height: 85%;
	margin: 15px;
	margin-top: 20px;
	border-radius: 15px;
	border-style: solid;
	border-color: #c29652;
	flex: 30%;
}
/*Promociones en los paquetes*/
div#paquetes{
	background-color: #610808;
	margin: 15px;
	width: 100%;
	height: 33%;
	display: flex;
	flex-wrap: wrap;	
	border-radius: 15px; /*boorde redondeado para quitar esa sensacion tan recta*/
}
/*Promociones en comidas y bebidas*/
div#comybeb{
	background-color: #610808;
	margin: 15px 100px 15px 100px;
	width: 35%;
	height: 60%;
	display: flex;
	flex-wrap: wrap;	
	border-radius: 15px;
}
/*Imagenes la parte de comidas y bebidas*/
img.comybeb{
	width: 85%;
	height: 40%;
	margin: 20px 35px 20px 35px;
	border-radius: 15px;
	border-style: solid;
	border-color: #c29652;
}
/*Division que contiene a mes y postres*/
div#mini{
	background-color: transparent;
	margin: 15px;
	width: 47%;
	height: 60%;
	margin: 15px;
	border-radius: 15px;
}
/*Apartado para promocion mensual*/
div#mes{
	background-color: #610808;
	margin: 0px 15px 30px 15px;
	width: 100%;
	height: 45%;
	display: flex;
	flex-wrap: wrap;	
	border-radius: 15px;
}
/*Imagen de la promocion mensual*/
img#mes{
	width: 50%;
	height: 80%;
	margin: 20px 35px 20px 35px;
	border-radius: 15px;
	border-style: solid;
	border-color: #c29652;
}
/*Texto de la promocion mensual*/
p#mes{
	width: 30%;
	font-family: fuenteXD, sans-serif;
	color: #d9c18f;
	margin:auto;
	margin-right: 50px;
	font-size: 30px;	
	text-align: justify;
}
/*Division de promociones en postres*/
div#postres{
	background-color: #610808;
	margin: 55px 15px 5px 15px;
	width: 100%;
	height: 45%;
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px;	
}
/*Que rapido llegamos al pie de pagina*/
div#patas{
	background-color: #b58707;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;
}
/*Division de los datos de forma elegante*/
div.datos{
	margin-left: 100px;
	margin-right: 100px;
}
/*Texto de los datos*/
p.dat{
	font-family: fuenteXD, sans-serif;
}