body{
	background-color: #d9c18f;
	margin: none;
}
div#titulo{
	background-color: transparent;
	width: 100%;
	height: 100px;
	margin: 0px;
	display: flex;
}
img#logo{
	width: 150px;
	height: 150px;
	margin-right: 100px;
	margin-left: auto;
	margin-top: 0%;
}
h1{
	margin-right: 800px;
}
div#navegacion{
	background-color: transparent;
	width: 100%;
	height: 50px;
	margin: 0px;
	display: flex;
	justify-content: center;
}
div.nave{
	margin-left: 100px;
	margin-right: 100px;
}
p.nav{

}
div#contenedor{
	background-color: transparent;
	margin-top:30px;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
}
div#promos{
	background-color: #610808;
	margin: 15px;
	width: 100%;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px; /*boorde redondeado para quitar esa sensacion tan recta*/
}
div#contacto{
	background-color: #610808;
	margin: 15px;
	width: 60%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
div#ubicacion{
	background-color:#610808;
	margin: 15px;
	width: 35%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
div#quienes{
	background-color: #610808;
	margin: 15px;
	width: 60%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
div#collage{
background-color: #610808;
	margin: 15px;
	width: 35%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
div#patas{
	background-color: #b58707;
	width: 100%;
	height: 100px;
	margin-top: 20px;

}
div#datos{
	margin-left: 100px;
	margin-right: 100px;
}
p.dat{

}
