@font-face{
    font-family: fuenteXD;
    src: url("general/fuente.ttf") format("truetype");
}
body{
	background-color: #d9c18f;
	margin: none;
}
div#titulo{
	background-color: transparent;
	width: 100%;
	height: 100px;
	margin: 0px;
	display: flex;
}
img#logo{
	width: 150px;
	height: 150px;
	margin-right: 100px;
	margin-left: auto;
	margin-top: 0%;
}
img#titulo{
	height: 100%;
	margin-right: 610px;
	margin-top: 40px;
}
div#navegacion{
	background-color: transparent;
	width: 100%;
	height: 50px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
div.nave{
	margin-left: 100px;
	margin-right: 100px;
}
p.nav{
	font-family: fuenteXD, sans-serif;
}
p.cont{
	font-family: fuenteXD, sans-serif;
}
p.dat{
	font-family: fuenteXD, sans-serif;
}
div#contenedor{
	background-color: transparent;
	margin: 5px;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
}
div.imgcont{ /* Contenedor para que las imagenes salgan centradas en la pantalla */
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	width: 100%;	
	margin: auto;
}
p.anuncio{
	font-family: fuenteXD, sans-serif;
	color: #d9c18f;
	margin:30px;
	font-size: 18px;	
	text-align: justify;	
}
div#comidas{
	background-color: #610808;
	margin: 15px;
	width: 100%;
	height: 30%;
	border-radius: 15px; /*boorde redondeado para quitar esa sensacion tan recta*/
}
img.com{
	width: 27%;
	height: 43%;
	margin: 15px auto auto auto;
	border-radius: 15px;
}
div#bebidas{
	background-color: #610808;
	margin: 15px;
	width: 45%;
	height: 35%;
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px;	
}
img.beb{
	width: 43%;
	height: 47%;
	margin: 10px auto 10px auto;
	border-radius: 15px;
}
div#postres{
	background-color: #610808;
	margin: 15px;
	width: 45%;
	height: 35%;
	display: flex;
	flex-wrap: wrap;	
	border-radius: 15px;
}
div#lugar{
	background-color: #610808;
	margin: 15px;
	width: 100%;
	height: 20%;
	display: flex;
	flex-wrap: wrap;	
	border-radius: 15px;
}
img.lugar{
	width: 20%;
	height: 85%;
	margin: 10px auto 10px auto;
	border-radius: 15px;
}
div#patas{
	background-color: #b58707;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;

}
div.datos{
	margin-left: 100px;
	margin-right: 100px;
}