	@font-face {
    font-family: fuenteXD;
    src: url("general/fuente.ttf") format("truetype");
}
body{
	background-color: #d9c18f;
	margin: none;
}
div#titulo{
	background-color: transparent;
	width: 100%;
	height: 100px;
	margin: 0px;
	display: flex;
}
img#logo{
	width: 150px;
	height: 150px;
	margin-right: 100px;
	margin-left: auto;
	margin-top: 0%;
}
img#titulo{
	height: 100%;
	margin-right: 610px;
	margin-top: 40px;
}
div#navegacion{
	background-color: transparent;
	width: 100%;
	height: 50px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
div.nave{
	margin-left: 100px;
	margin-right: 100px;
}
p.nav{
	font-family: fuenteXD, sans-serif;
}
p.cont{
	font-family: fuenteXD, sans-serif;
	height: 15px;
	flex: 25%;
}

p.dat{
	font-family: fuenteXD, sans-serif;
}
div#contenedor{
	background-color: transparent;
	margin-top:30px;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
}
img.promos{
	border-style: solid;
	border-color: #c29652;
	width: 370px;
	height: 200px;
	margin: 20px;
	flex-wrap: wrap;
	flex: 25%;
	border-radius: 15px;
}
div#promos{
	background-color: #610808;
	margin: 15px;
	width: calc(100%)px;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px; /*boorde redondeado para quitar esa sensacion tan recta*/
	flex: 50%;
}
div#contacto{
	background-color: #610808;
	margin: 15px;
	width: 60%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
p#wsp{
	font-family: fuenteXD, sans-serif;
	width: 407px;
	height: 220px;
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	border-style: solid;
	border-color: #3a7515;
	border-radius: 15px;
	flex: 25%;
	color: #d9c18f;
}
img.conta{
	border-style: solid;
	border-color: #c29652;
	width: 407px;
	height: 220px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 80px;
	border-radius: 15px;
}
div#ubicacion{
	background-color:#610808;
	margin: 15px;
	width: 35%;
	height: 270px;
	display: block;
	border-radius: 15px;
}
img#ubi{
	border-style: solid;
	border-color: #c29652;
	width: 310px;
	height: 180px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 100px;
	margin-right: 80px;
	border-radius: 15px;
}
p#ubi{
	font-family: fuenteXD, sans-serif;
	color: #d9c18f;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
}
div#quienes{
	background-color: #610808;
	margin: 15px;
	width: 60%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
img#qs{
	border-style: solid;
	border-color: #c29652;
	width: 400px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 20px;
	border-radius: 15px;
}
p#qs{
	font-family: fuenteXD, sans-serif;
	color: #d9c18f;
	margin:auto;
	margin-right: 15px;
	font-size: 20px;	
	text-align: justify;
}
div#horario{
	background-color: #610808;
	margin: 15px;
	width: 35%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
img#horario{
	border-style: solid;
	border-color: #c29652;
	width: 400px;
	height: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 60px;
	margin-right: 30px;
	border-radius: 15px;
}
div#patas{
	background-color: #b58707;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;

}
div.datos{
	margin-left: 100px;
	margin-right: 100px;
}
