/*Fuente ocupada en los textos*/
@font-face {
    font-family: fuenteXD;
    src: url("general/fuente.ttf") format("truetype");
}
/*Cuerpo*/
body{
	background-color: #d9c18f; /*Se pinto el body para no pintar el resto de contenedores del mismo color*/
	margin: none;
}
/*Empieza el titulo y el icono de la pagina*/
div#titulo{
	background-color: transparent;
	width: 100%; /*Ocupa el total del ancho de la pagina*/
	height: 100px;
	margin: 0px;
	display: flex;/*Nos permite colocar elementos como si fuera una tabla*/
}
/*Detallamos el tamaño del logo*/
img#logo{
	width: 150px;
	height: 150px;/*dimensiones cuadradas*/
	margin-right: 50px;
	margin-left: auto;
	margin-top: 0px;
}
/*Detallamos las caracteristicas del titulo que es una imagen*/
img#titulo{
	height: 100%;
	margin-right: 610px;
	margin-top: 40px;
}
/*Empieza la barra de navegacion*/
div#navegacion{
	background-color: transparent;
	width: 100%;
	height: 50px;
	margin-top: 90px;
	display: flex;
	justify-content: center;/*Con esto alineamos los elementos al centro*/
}
/*Definimos caracteristicas de los contendores de la los elementos de la barra de navegacion*/
div.nave{
	margin-left: 100px;
	margin-right: 100px;
}
/*Configuramos las caracteristicas de los enlaces en general*/
a:link, a:visited{
	font-family: fuenteXD, sans-serif;
	color: #610808;
	font-size: 20px;
	text-decoration: none; /*Limpiamos la apariencia del enlace*/
}
/*Le ponemos un efecto al pasar el cursor por encima*/
a:hover{
	font-size: 25px; 
}
/*Le damos un formato a las letras de la barra de navegacion*/
p.nav{
	font-family: fuenteXD, sans-serif;
}
/*Le damos una apariencia mas grande a la seccion donde nos encontramos*/
p#aqui{
	font-family: fuenteXD, sans-serif;
	color: #610808;
	font-size: 30px;
	margin-top: 5px;
}
/*Definimos el contenedor de la parte central de la pagina*/
div#contenedor{
	background-color: transparent;
	margin-top:30px;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-wrap: wrap; /*Permite que los elementos se alinien en varias lineas*/
}
/*Division para poner las promociones vigentes*/
div#promos{
	background-color: #610808;
	margin: 15px;
	width: calc(100%)px;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px; /*boorde redondeado para quitar esa sensacion tan recta*/
	flex: 50%;
}
/*Definimos las caaracterisitcas de las imagenes que hay en la seccion de promociones*/
img.promos{
	border-style: solid;
	border-color: #c29652;
	width: 370px;
	height: 200px;
	margin: 20px;
	flex-wrap: wrap;
	flex: 25%;
	border-radius: 15px;
}
/*Division para poner la informacion de contacto*/
div#contacto{
	background-color: #610808;
	margin: 15px;
	width: 60%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
/*Configuramos la letra del letrero de whatsapp*/
p#wsp{
	font-family: fuenteXD, sans-serif;
	width: 407px;
	height: 220px;
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	border-style: solid;
	border-color: #3a7515;
	border-radius: 15px;
	flex: 25%;
	color: #d9c18f;
}
/*Ponemos el formato de las imagenes de la seccion*/
img.conta{
	border-style: solid;
	border-color: #c29652;
	width: 407px;
	height: 220px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 80px;
	border-radius: 15px;
}
/*Division para poner la informacion de ubicacion*/
div#ubicacion{
	background-color:#610808;
	margin: 15px;
	width: 35%;
	height: 270px;
	display: block;
	border-radius: 15px;
}
/*Formato de la imagen de la seccion*/
img#ubi{
	border-style: solid;
	border-color: #c29652;
	width: 310px;
	height: 180px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 100px;
	margin-right: 80px;
	border-radius: 15px;
}
/*Formato del texto de la seccion*/
p#ubi{
	font-family: fuenteXD, sans-serif;
	color: #d9c18f;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
}
/*Division para poner informacion de presentacion del restaurante*/
div#quienes{
	background-color: #610808;
	margin: 15px;
	width: 60%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
/*Formato de la imagen de la seccion*/
img#qs{
	border-style: solid;
	border-color: #c29652;
	width: 400px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 20px;
	border-radius: 15px;
}
/*Formato del texto de la seccion*/
p#qs{
	font-family: fuenteXD, sans-serif;
	color: #d9c18f;
	margin:auto;
	margin-right: 15px;
	font-size: 20px;	
	text-align: justify;
}
/*Division para poner informacion del horario del sitio*/
div#horario{
	background-color: #610808;
	margin: 15px;
	width: 35%;
	height: 270px;
	display: flex;
	border-radius: 15px;
}
/*Formato de la imagen del sitio*/
img#horario{
	border-style: solid;
	border-color: #c29652;
	width: 400px;
	height: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 60px;
	margin-right: 30px;
	border-radius: 15px;
}
/*Pie de pagina pero con un nombre mejor*/
div#patas{
	background-color: #b58707;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;
}
/*Distribuye la informacion del pie de pagina*/
div.datos{
	margin-left: 100px;
	margin-right: 100px;
}
/*Formato del texto del pie de pagina*/
p.dat{
	font-family: fuenteXD, sans-serif;
}